/* ////// - HOME - ///////// */

.flexRow--desktop__home--section-1{
    background-image: url("https://cuerosvelezco.vteximg.com.br/arquivos/home-desktop-2023-2.png?v=638086094503030000");
    background-position: center;
}

.flexRow--desktop__home--section-1,
.flexRow--desktop__home--section-2{
    height: 900px;
}

.flexRowContent--desktop__home--section-1,
.flexRowContent--desktop__home--section-2{
    position: relative;
    top: 700px;
    gap: 30px;
}

.flexRow--desktop__home--section-2{
    background-image: url("https://cuerosvelezco.vteximg.com.br/arquivos/home-desktop-2023-3.png?v=638086094506630000");
    background-position: center;
}

/* Sliders */ 

/* .flexRow--home__slider--one{
    margin: -8px;
} */
