.buttonLink--button__section--1-1,
.buttonLink--button__section--1-1:visited {
    background    : transparent;
    color         : #fff;
    border-color  : #fff;
    border-radius : 2px;
    padding       : 15px 20px 15px 20px;
    transition    : 0.5s;
}

.buttonLink--button__section--1-1:visited {
    background-color: #353535;
}

.buttonLink--button__section--1-1:hover {
    background-color: #ffffff40;
    border-color    : #fff;
}

.buttonLink--button__section--1-1:hover :global(.vtex-store-link-0-x-label) {
    text-decoration: underline;
}