.paragraph--desktop__text--descounts,
.link--desktop__text--descounts {
    text-decoration: none;
    color          : #fff;
    font-size      : 18px;
    font-weight    : 700;
    font-family    : "Lato-Bold";
}

.paragraph--desktop__text--descounts {
    cursor: default;
}