/* .slide--home__slider-one{
    margin: 0 -10px 0 -10px;
}

.slideChildrenContainer--home__slider-one{
    margin: -10px;
} */
/* 
.slide--home__slider-one{
    margin: -20px;
} */

/* .flexRowContent--home__slider--one{
    width: 300px;
} */
/* .caretIcon--home__slider-one{
    height: 15px;
} */
/* .slide--home__slider-one--firstVisible{
    margin: 0 10px 0 10px;
} */