.wrapper--text__home-one{
    margin: auto;
    padding: 40px 0 10px 0;
}

.paragraph--text__home-one{
    font-family: "Lato-Bold";
    font-size: 19px;
}

.paragraph--text__slider-home-one{
    font-family: "Lato-Light";
    font-weight: bold;
    color: #000;
}