.closeIconContainer,
.minicartTitle{
    display: none;
}

.minicartEmptyStateContainer {
    justify-content: flex-start;
    margin: auto;
    width: 100%;
}
.opened{
    height: fit-content;    
}
.minicartSideBarContentWrapper{
    display: contents;
}

.drawerStyles{
    margin: auto;
    height: 500px;
}

.minicartCheckoutButton :global(.vtex-button){
    width: 350px;
    border-radius: 0;
    border-color: #000;
    font-size: 14px;
    background: #000;
    color: #fff;
    margin-top: -10px;
}

@media only screen and (max-width: 450px) {
    .minicartCheckoutButton :global(.vtex-button){
        width: 200px;
    }
}