.sliderLayoutContainer--legadomobile__slider--artesanos-one {
    width : 78%;
    margin: auto;
}

.sliderRightArrow--legadomobile__slider--artesanos-one {
    margin-right: -30px;
}

.sliderLeftArrow--legadomobile__slider--artesanos-one {
    margin-left: -30px;
}

.sliderLayoutContainer--legadomobile__slider--artesanos-two {
    width  : 80%;
    margin : auto;
    padding: 30px 0;
}

.sliderTrack--legadomobile__slider--artesanos-two {
    gap: 10px;
}