.sliderLeftArrow--global__slider--products--pdp {
    margin-left: -40px;
}
.sliderRightArrow--global__slider--products--pdp {
    margin-right: -40px;
}

@media only screen and (max-width: 640px) {
    .sliderRightArrow--global__slider--products--pdp {
        margin-right: -20px;
    }

    .sliderLeftArrow--global__slider--products--pdp {
        margin-left: -20px;
    }

    .caretIcon--global__slider--products--pdp {
        width: 13px;
    }
}