.paragraph--legado__text--one{
    font-family: "Lato-Light";
    font-weight: 700;
    color: #3f3630;
    font-size: 24px;
    letter-spacing: 0.2em;
    margin: 50px 0px;
}

.paragraph--legado__text--one::after{
    content: " ARTESANOS";
    color: #000;
    font-family: "Lato-Bold";
}

.wrapper--legado__text--two{
    width: 60%;
}

.paragraph--legado__text--two{
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    margin: 0px auto 50px auto;
    font-family: 'Lato', sans-serif;
}

.wrapper--legado__text--three :global(.vtex-rich-text-0-x-paragraph){
    color: #3f3630;
    font-weight: bold;
    font-size: 25px;
    margin: 50px 0 0 0;
    letter-spacing: 0.1em;
    font-family: "Lato-Light";
}

.wrapper--legado__text--three :global(.vtex-rich-text-0-x-heading-level-3){
    color: #000;
    font-size: 29px;
    margin-top: -1px;
    letter-spacing: 0.1em;
}

.paragraph--legado__slidertwo--text{
    font-family: "Lato-Light";
    color: #000;
    font-weight: bold;
    font-size: 14px;
}