.flexRowContent--desktop__product--info {
    width : 90%;
    margin: auto;
}

.flexCol--product__info--image {
    margin-right: 50px;
}

.flexColChild--desktop__product--info {
    height: fit-content;
}

.flexColChild--desktop__product--info :global(.vtex-button) {
    background   : #000;
    border-radius: 1px;
    border       : none;
    width        : 300px;
}

.flexColChild--desktop__product--info :global(.vtex-button):hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flexColChild--desktop__product--info {
    margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
    .flexColChild--desktop__product--info :global(.vtex-button) {
        width: 220px;
    }
}