.link--link__header--one,
.link--link__header--two{
    color: black;
    text-decoration: none;
}

.link--link__header--line{
    padding: 0 30px 0 30px;
    color: #ffffff;
}

.label--desktop__linkImage--categories-one{
    font-weight: bold;
    color: #000;
}
.link--desktop__linkImage--categories-one{
    text-decoration: none;
}

.label--link__header--bottom{
    font-family: "Lato-Bold";
    color: black;
}

.link--link__header--bottom{
    text-decoration: none;
}