.homeIcon,
.termArrow,
.caretIcon {
    display: none;
}

.link--1,
.link--2,
.term {
    padding    : 0;
    color      : #000;
    font-family: "Lato-Light";
    font-size  : 17px;
    font-weight: 600px;
}

.link--1:hover,
.link--2:hover,
.term:hover {
    color: #000;
}

.arrow--2::before,
.term::before {
    content: " / ";
}

@media only screen and (max-width: 640px) {

    .link--1,
    .link--2,
    .term {
        font-size: 12px;
    }
}