.flexRow--department__banner-one{
    margin-top: -70px;
    margin-bottom: 40px;
}

.flexCol--categoryresults--filter{
    margin-left: 30%;
}

.flexRow--global__categoryresults{
    margin-bottom: 15%;
}