.filter__container--priceRange {
    display: none;
}

.filter__container--selectedFilters {
    display: none;
}

.filterTitleSpan--global__filter--search {
    font-weight: 800;
    font-family: "Lato-Light";
}

.galleryLayoutSwitcher--global__galleryswitcher--search {
    display        : flex;
    justify-content: center;
}

.filterItem--global__filter--search--unacem {
    font-weight: bold;
    font-size  : 15px;
    color      : #000;
}