.opened {
    width     : 100%;
    max-width : 610px;
    min-width : 280px;
    margin-top: 86px;
}

.overlay--visible {
    background: transparent;
}

.drawerHeader--mobile__drawer--header {
    position        : absolute;
    top             : -50px;
    height          : 50px;
    background-color: #fff;
}

.childrenContainer--mobile__header--menu {
    display       : flex;
    flex-direction: column;
}