.opened{
    width: 100%;
    max-width: 610px;
    min-width: 280px;
    margin-top: 30px;
}

.overlay--visible{
    background: transparent;
}

@media only screen and (max-width: 270px) {
    .menuIcon--mobile__header--menu{
        width: 15px;
        height: 30px;
    }
}